## Data Preparation

In [219]:
import pandas as pd
import numpy as np

In [220]:
## Reading CASE-SHILLER Home Price Index dataset
df_homeprice = pd.read_csv(r"C:\Users\user\Downloads\CSUSHPISA.csv")

# Rename the column CSUSHPISA  to home price
df_homeprice.rename(columns={'CSUSHPISA': 'Home Price'}, inplace=True)

# Creating "Year" and "Month" columns
df_homeprice["Year"] = pd.DatetimeIndex(df_homeprice["DATE"]).year
df_homeprice["Month"] = pd.DatetimeIndex(df_homeprice["DATE"]).month

# view the data
print(df_homeprice.head())

# check the number of rows and columns
df_homeprice.shape

         DATE  Home Price  Year  Month
0  2002-01-01     117.144  2002      1
1  2002-02-01     117.844  2002      2
2  2002-03-01     118.687  2002      3
3  2002-04-01     119.610  2002      4
4  2002-05-01     120.724  2002      5

(241, 4)

In [221]:
## Reading Unemployment Rate dataset
df_unemp = pd.read_csv(r"C:\Users\user\Downloads\UNRATE.csv")

# Rename the column UNRATE to Unemp Rate
df_unemp.rename(columns={'UNRATE': 'Unemp Rate'}, inplace=True)

# view the data
print(df_unemp.head())

# check the number of rows and columns
df_unemp.shape

         DATE  Unemp Rate
0  2002-01-01         5.7
1  2002-02-01         5.7
2  2002-03-01         5.7
3  2002-04-01         5.9
4  2002-05-01         5.8

(241, 2)

In [222]:
## Reading Employment Rate: Aged 15-64: All Persons for United States dataset
df_emp = pd.read_csv(r"C:\Users\user\Downloads\LREM64TTUSM156S.csv")

# Rename the column LREM64TTUSM156S to Emp Rate
df_emp.rename(columns={'LREM64TTUSM156S': 'Emp Rate'}, inplace=True)

# view the data
print(df_emp.head())

# check the number of rows and columns
df_emp.shape

         DATE   Emp Rate
0  2002-01-01  72.032165
1  2002-02-01  72.338607
2  2002-03-01  72.156168
3  2002-04-01  71.903152
4  2002-05-01  72.019947

(241, 2)

In [223]:
## Reading  Real gross domestic product per capita dataset
df_gdp = pd.read_csv(r"C:\Users\user\Downloads\A939RX0Q048SBEA.csv")

# Rename the column A939RX0Q048SBEA to Real Gdp
df_gdp.rename(columns={'A939RX0Q048SBEA': 'Real Gdp'}, inplace=True)

# view the data
print(df_gdp.head())

# check the number of rows and columns
df_gdp.shape

         DATE  Real Gdp
0  2002-01-01  50260.25
1  2003-01-01  51189.00
2  2004-01-01  52681.25
3  2005-01-01  54014.25
4  2006-01-01  54993.50

(21, 2)

In [224]:
## Reading Interest Rates dataset
df_interest= pd.read_csv(r"C:\Users\user\Downloads\FEDFUNDS.csv")

# Rename the column FEDFUNDS to Interest Rates
df_interest.rename(columns={'FEDFUNDS': 'Interest Rates'}, inplace=True)

# view the data
print(df_interest.head())

# check the number of rows and columns
df_interest.shape

         DATE  Interest Rates
0  2002-01-01            1.73
1  2002-02-01            1.74
2  2002-03-01            1.73
3  2002-04-01            1.75
4  2002-05-01            1.75

(241, 2)

In [225]:
## Reading Consumer Price Index for All Urban Consumers: All Items in U.S. City Average dataset
df_cpi = pd.read_csv(r"C:\Users\user\Downloads\CPIAUCSL.csv")

# Rename the column FEDFUNDS to CPI
df_cpi.rename(columns={'CPIAUCSL': 'CPI'}, inplace=True)

# view the data
print(df_cpi.head())

# check the number of rows and columns
df_cpi.shape

         DATE    CPI
0  2002-01-01  177.7
1  2002-02-01  178.0
2  2002-03-01  178.5
3  2002-04-01  179.3
4  2002-05-01  179.5

(241, 2)

In [226]:
## Reading Working Age Population: Aged 15-64: All Persons dataset
df_workpop = pd.read_csv(r"C:\Users\user\Downloads\LFWA64TTUSM647S.csv") 

# Rename the column LFWA64TTUSM647S to Working_Pop
df_workpop.rename(columns={'LFWA64TTUSM647S': 'Working_Pop'}, inplace=True)

# view the data
print(df_workpop.head())

# check the number of rows and columns
df_workpop.shape

         DATE   Working_Pop
0  2002-01-01  1.826620e+08
1  2002-02-01  1.828219e+08
2  2002-03-01  1.830757e+08
3  2002-04-01  1.833143e+08
4  2002-05-01  1.834672e+08

(241, 2)

In [227]:
## Reading  Government subsidies: Federal: Housing  dataset
df_subsidies= pd.read_csv(r"C:\Users\user\Downloads\L312051A027NBEA.csv")

# Rename the column L312051A027NBEA to Housing_Subsidies
df_subsidies.rename(columns={'L312051A027NBEA': 'Housing_Subsidies'}, inplace=True)

# view the data
print(df_subsidies.head())

# check the number of rows and columns
df_subsidies.shape

         DATE  Housing_Subsidies
0  2002-01-01             24.183
1  2003-01-01             25.930
2  2004-01-01             27.201
3  2005-01-01             27.651
4  2006-01-01             28.604

(21, 2)

In [228]:
## Reading Real Disposable Personal Income dataset
df_dpi = pd.read_csv(r"C:\Users\user\Downloads\DSPIC96.csv")

# Rename the column DSPIC96 to DPI
df_dpi.rename(columns={'DSPIC96': 'DPI'}, inplace=True)

# view the data
print(df_dpi.head())

# check the number of rows and columns
df_dpi.shape

         DATE      DPI
0  2002-01-01  10514.7
1  2002-02-01  10531.6
2  2002-03-01  10539.0
3  2002-04-01  10574.2
4  2002-05-01  10616.5

(241, 2)

In [229]:
## Reading old age population dataset
df_oldpop = pd.read_csv(r"C:\Users\user\Downloads\SPPOP65UPTOZSUSA.csv")

# Rename the column DSPIC96 to DPI
df_oldpop.rename(columns={'SPPOP65UPTOZSUSA': 'Old_Pop'}, inplace=True)

# view the data
print(df_oldpop.head())

# check the number of rows and columns
df_oldpop.shape

         DATE    Old_Pop
0  2002-01-01  12.287458
1  2003-01-01  12.277934
2  2004-01-01  12.304719
3  2005-01-01  12.360163
4  2006-01-01  12.422072

(21, 2)

In [230]:
## Reading  Monthly Supply of New Houses in the United States dataset
df_supply = pd.read_csv(r"C:\Users\user\Downloads\MSACSR.csv")

# Rename the column MSACSR to House Supply
df_supply.rename(columns={'MSACSR': 'House Supply'}, inplace=True)

# view the data
print(df_supply.head())

# check the number of rows and columns
df_supply.shape

         DATE  House Supply
0  2002-01-01           4.2
1  2002-02-01           4.0
2  2002-03-01           4.1
3  2002-04-01           4.3
4  2002-05-01           4.0

(241, 2)

In [231]:
## Reading Population in the United States dataset
df_pop = pd.read_csv(r"C:\Users\user\Downloads\POPTHM.csv")

# Rename the column POPTHM to Population
df_pop.rename(columns={'POPTHM': 'Population'}, inplace=True)

# view the data
print(df_pop.head())

# check the number of rows and columns
df_pop.shape

         DATE  Population
0  2002-01-01    286739.0
1  2002-02-01    286935.0
2  2002-03-01    287131.0
3  2002-04-01    287343.0
4  2002-05-01    287571.0

(241, 2)

In [232]:

## Reading Total Households in the United States dataset
df_house = pd.read_csv(r"C:\Users\user\Downloads\TTLHH.csv")

# Rename the column TTLHH to Number_Households
df_house.rename(columns={'TTLHH': 'Number_Households'}, inplace=True)

# view the data
print(df_house.head())

# check the number of rows and columns
df_house.shape

         DATE  Number_Households
0  2002-01-01           109297.0
1  2003-01-01           111278.0
2  2004-01-01           112000.0
3  2005-01-01           113343.0
4  2006-01-01           114384.0

(21, 2)

In [233]:
# combining dataframes to form one dataset
df_list = [df_homeprice, df_unemp, df_emp, df_gdp, df_workpop, df_cpi, df_dpi, df_interest, df_subsidies, df_oldpop, df_supply, df_pop, df_house]

import pandas as pd

# Assuming df_homeprice, df_unemp, etc. are your DataFrames
# df_list contains all your DataFrames
df_list = [df_homeprice, df_unemp, df_emp, df_gdp, df_workpop, df_cpi, df_dpi, df_interest, df_subsidies, df_oldpop, df_supply, df_pop, df_house]

# Convert 'DATE' column to datetime format for each DataFrame
for df in df_list:
    if 'DATE' in df.columns:
        df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce')  # Convert to datetime, handle error
    print(df.columns)

Index(['DATE', 'Home Price', 'Year', 'Month'], dtype='object')
Index(['DATE', 'Unemp Rate'], dtype='object')
Index(['DATE', 'Emp Rate'], dtype='object')
Index(['DATE', 'Real Gdp'], dtype='object')
Index(['DATE', 'Working_Pop'], dtype='object')
Index(['DATE', 'CPI'], dtype='object')
Index(['DATE', 'DPI'], dtype='object')
Index(['DATE', 'Interest Rates'], dtype='object')
Index(['DATE', 'Housing_Subsidies'], dtype='object')
Index(['DATE', 'Old_Pop'], dtype='object')
Index(['DATE', 'House Supply'], dtype='object')
Index(['DATE', 'Population'], dtype='object')
Index(['DATE', 'Number_Households'], dtype='object')

In [234]:
# Concating dataframes having monthly data to create one dataframe
data= pd.DataFrame()
df_bymonth = [df_homeprice, df_unemp, df_emp, df_workpop, df_cpi, df_dpi, df_interest, df_supply, df_pop]

for df in df_bymonth:
    df["DATE"] = pd.to_datetime(df["DATE"])
    df = df.set_index("DATE")
    data = pd.concat([data,df], axis = 1)
print(data.shape)
data.head()

(241, 11)

,Home Price,Year,Month,Unemp Rate,Emp Rate,Working_Pop,CPI,DPI,Interest Rates,House Supply,Population
DATE,,,,,,,,,,,
2002-01-01,117.144,2002,1,5.7,72.032165,1.826620e+08,177.7,10514.7,1.73,4.2,286739.0
2002-02-01,117.844,2002,2,5.7,72.338607,1.828219e+08,178.0,10531.6,1.74,4.0,286935.0
2002-03-01,118.687,2002,3,5.7,72.156168,1.830757e+08,178.5,10539.0,1.73,4.1,287131.0
2002-04-01,119.610,2002,4,5.9,71.903152,1.833143e+08,179.3,10574.2,1.75,4.3,287343.0
2002-05-01,120.724,2002,5,5.8,72.019947,1.834672e+08,179.5,10616.5,1.75,4.0,287571.0

In [235]:
# Merging dataframes with annual data
df_annual = [df_gdp, df_house,df_subsidies, df_oldpop]
for df in df_annual:
    if "Year" not in df.columns:
        df["Year"] = pd.DatetimeIndex(df["DATE"]).year
        df.set_index("DATE", inplace = True)
        data= pd.merge(data, df, how = "left", on = "Year")
    else:
        df.set_index("DATE", inplace = True)
        df = pd.merge(data, df, how = "left", on = "Year")
data["DATE"] = df_homeprice["DATE"]
data.set_index("DATE", inplace = True)
print(data.head())

            Home Price  Year  Month  Unemp Rate   Emp Rate   Working_Pop  \
DATE
2002-01-01     117.144  2002      1         5.7  72.032165  1.826620e+08
2002-02-01     117.844  2002      2         5.7  72.338607  1.828219e+08
2002-03-01     118.687  2002      3         5.7  72.156168  1.830757e+08
2002-04-01     119.610  2002      4         5.9  71.903152  1.833143e+08
2002-05-01     120.724  2002      5         5.8  72.019947  1.834672e+08

              CPI      DPI  Interest Rates  House Supply  Population  \
DATE
2002-01-01  177.7  10514.7            1.73           4.2    286739.0
2002-02-01  178.0  10531.6            1.74           4.0    286935.0
2002-03-01  178.5  10539.0            1.73           4.1    287131.0
2002-04-01  179.3  10574.2            1.75           4.3    287343.0
2002-05-01  179.5  10616.5            1.75           4.0    287571.0

            Real Gdp  Number_Households  Housing_Subsidies    Old_Pop
DATE
2002-01-01  50260.25           109297.0             24.183  12.287458
2002-02-01  50260.25           109297.0             24.183  12.287458
2002-03-01  50260.25           109297.0             24.183  12.287458
2002-04-01  50260.25           109297.0             24.183  12.287458
2002-05-01  50260.25           109297.0             24.183  12.287458

In [236]:
# export the prepared data to a CSV file
data.to_csv("US_dataset.csv")